### Sie werden beauftragt die portugisische BildungsminsterIn dahingehend zu beraten, wie man die schulische Ausbildung erfolgreicher gestalten könnte. 
Was antworten Sie?
    > qualitative Antwort in verständlicher Sprache, 
    > Konsument der Antwort ist der Duchschnittsbürger

Erstellen Sie außerdem einen fundierten Bericht, welcher Ihre qualitative Antwort mit quantitativen Angaben und aussagekräftigen Abbildungen stützt. 
    > Konsument ist ein Data-Scientist

In [68]:
import pandas as pd
from scipy.stats import chi2_contingency

df=pd.read_csv("student-mat.csv",sep=";")

print(df.dtypes)
df.head()

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [69]:
df.corr()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
age,1.000000,-0.163658,-0.163438,0.070641,-0.004140,0.243665,0.053940,0.016434,0.126964,0.131125,0.117276,-0.062187,0.175230,-0.064081,-0.143474,-0.161579
Medu,-0.163658,1.000000,0.623455,-0.171639,0.064944,-0.236680,-0.003914,0.030891,0.064094,0.019834,-0.047123,-0.046878,0.100285,0.205341,0.215527,0.217147
Fedu,-0.163438,0.623455,1.000000,-0.158194,-0.009175,-0.250408,-0.001370,-0.012846,0.043105,0.002386,-0.012631,0.014742,0.024473,0.190270,0.164893,0.152457
traveltime,0.070641,-0.171639,-0.158194,1.000000,-0.100909,0.092239,-0.016808,-0.017025,0.028540,0.138325,0.134116,0.007501,-0.012944,-0.093040,-0.153198,-0.117142
studytime,-0.004140,0.064944,-0.009175,-0.100909,1.000000,-0.173563,0.039731,-0.143198,-0.063904,-0.196019,-0.253785,-0.075616,-0.062700,0.160612,0.135880,0.097820
failures,0.243665,-0.236680,-0.250408,0.092239,-0.173563,1.000000,-0.044337,0.091987,0.124561,0.136047,0.141962,0.065827,0.063726,-0.354718,-0.355896,-0.360415
famrel,0.053940,-0.003914,-0.001370,-0.016808,0.039731,-0.044337,1.000000,0.150701,0.064568,-0.077594,-0.113397,0.094056,-0.044354,0.022168,-0.018281,0.051363
freetime,0.016434,0.030891,-0.012846,-0.017025,-0.143198,0.091987,0.150701,1.000000,0.285019,0.209001,0.147822,0.075733,-0.058078,0.012613,-0.013777,0.011307
goout,0.126964,0.064094,0.043105,0.028540,-0.063904,0.124561,0.064568,0.285019,1.000000,0.266994,0.420386,-0.009577,0.044302,-0.149104,-0.162250,-0.132791
Dalc,0.131125,0.019834,0.002386,0.138325,-0.196019,0.136047,-0.077594,0.209001,0.266994,1.000000,0.647544,0.077180,0.111908,-0.094159,-0.064120,-0.054660
Walc,0.117276,-0.047123,-0.012631,0.134116,-0.253785,0.141962,-0.113397,0.147822,0.420386,0.647544,1.000000,0.092476,0.136291,-0.126179,-0.084927,-0.051939
health,-0.062187,-0.046878,0.014742,0.007501,-0.075616,0.065827,0.094056,0.075733,-0.009577,0.077180,0.092476,1.000000,-0.029937,-0.073172,-0.097720,-0.061335
absences,0.175230,0.100285,0.024473,-0.012944,-0.062700,0.063726,-0.044354,-0.058078,0.044302,0.111908,0.136291,-0.029937,1.000000,-0.031003,-0.031777,0.034247
G1,-0.064081,0.205341,0.190270,-0.093040,0.160612,-0.354718,0.022168,0.012613,-0.149104,-0.094159,-0.126179,-0.073172,-0.031003,1.000000,0.852118,0.801468
G2,-0.143474,0.215527,0.164893,-0.153198,0.135880,-0.355896,-0.018281,-0.013777,-0.162250,-0.064120,-0.084927,-0.097720,-0.031777,0.852118,1.000000,0.904868
G3,-0.161579,0.217147,0.152457,-0.117142,0.097820,-0.360415,0.051363,0.011307,-0.132791,-0.054660,-0.051939,-0.061335,0.034247,0.801468,0.904868,1.000000

In [70]:
revMerkmale = ["address","reason","traveltime","studytime","failures","schoolsup","famsup","paid","activities","nursery","higher","internet","freetime","goout","Dalc","Walc","health","absences","G3"]

ohneG3 = ["address","reason","traveltime","studytime","failures","schoolsup","famsup","paid","activities","nursery","higher","internet","freetime","goout","Dalc","Walc","health","absences"]

## P-Wert
### <0,05 ist statistisch signifikant
### >0,95 Gegenhypothese statistisch signifikant

## Corr-Coefizient
### >0 Wert 1 steigt, Wert 2 steigt
### <0 Wert 1 sinkt, Wert 2 sinkt

In [38]:
corr = stats.pearsonr(df.age, df.G3)
corr

# CorCoeffizent | P-Wert

(-0.16157943813834016, 0.0012714385457179103)

In [73]:
def chisquare(var, dep_var, df_name = df):
    contingencyTable = pd.crosstab(df_name[var], df_name[dep_var])
    chi2, pval, dof, expectedFreq = chi2_contingency(contingencyTable)

    #show pval in non-scienetific expression
    print("testvar:",var,"\nchi2=",chi2,"\npval=",f'{pval}',"\ndof=",dof)

    return contingencyTable

In [74]:
chisquare("reason","G3")

testvar: reason
chi2= 51.4483734229257
pval= 0.4560900441274288
dof= 51

G3,0,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
reason,,,,,,,,,,,,,,,,,,
course,19,0,4,5,4,12,12,17,17,15,10,5,11,7,0,5,2,0
home,12,0,1,4,0,11,8,17,16,5,9,7,8,5,1,4,1,0
other,1,0,1,1,2,3,1,7,4,2,6,1,3,1,2,0,1,0
reputation,6,1,1,5,3,6,7,15,10,9,6,14,11,3,3,3,1,1

In [81]:
def rp_chisquare(var, dep_var, df_name = df):
    contingencyTable = pd.crosstab(df_name[var], df_name[dep_var])
    chi2, pval, dof, expectedFreq = chi2_contingency(contingencyTable)

    #show pval in non-scienetific expression
    return [round(chi2,5) , round(pval,5)]

In [82]:
rp_chisquare("reason","G3")

[51.44837, 0.45609]

In [83]:
corr_df = pd.DataFrame(columns=["Chi2","P"])
for col in ohneG3:
    corr_df.loc[col] = rp_chisquare(col, "G3")

corr_df

                 Chi2        P
address      26.37573  0.06788
reason       51.44837  0.45609
traveltime   32.82571  0.97750
studytime    59.43163  0.19544
failures    132.33841  0.00000
schoolsup    32.51748  0.01297
famsup       13.69188  0.68878
paid         29.77248  0.02803
activities   15.47636  0.56121
nursery      16.07837  0.51829
higher       24.38095  0.10945
internet     17.94941  0.39204
freetime     63.34439  0.63727
goout        75.34587  0.25294
Dalc         76.88157  0.21554
Walc         79.40705  0.16239
health       69.21650  0.43612
absences    810.70583  0.00000

In [87]:
corr_df.loc[(corr_df.P>0.95)|(corr_df.P<0.05)]

                 Chi2        P
traveltime   32.82571  0.97750
failures    132.33841  0.00000
schoolsup    32.51748  0.01297
paid         29.77248  0.02803
absences    810.70583  0.00000